---
import Layout from "@/layouts/layout.astro";
import { Separator } from "@/components/ui/separator";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import { HomeIcon } from "lucide-react";
import { DocsToc } from "@/components/docs-toc";

export const getStaticPaths: GetStaticPaths = async () => {
	const docs = await getCollection("docs");

	return docs.map((doc) => ({
		params: { id: doc.id },
		props: { doc }
	}))
}

const toc = [
	{ id: "getting-started", title: "Getting Started" },
	{ id: "app-spec", title: "App spec" },
	{ id: "manifest", title: "Manifest" }
];

interface Props {
	doc: CollectionEntry<"docs">
}

const { doc } = Astro.props;
const { Content } = await render(doc);
---

<Layout
	title={doc.data.title}
	back
>
	<div class="container flex flex-col md:flex-row gap-8">
		<DocsToc
			toc={toc}
			docId={doc.id}
			client:load
			transition:persist
		/>

		<div class="markdown">
			<Content/>
		</div>
	</div>
</Layout>
