---
import Layout from "@/layouts/layout.astro";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths: GetStaticPaths = async () => {
	const docs = await getCollection("docs");

	return docs.map((doc) => ({
		params: { id: doc.id },
		props: { doc }
	}))
}

interface Props {
	doc: CollectionEntry<"docs">
}

const entries = await getCollection("docs");
const { doc } = Astro.props;
const { Content } = await render(doc);
---

<Layout
	title={doc.data.title}
	back
>
	<div class="container flex flex-col md:flex-row gap-8">
		<div class="flex flex-col">
			{entries.map((e) => (
				<a
					href={"/docs/" + e.id}
					class:list={["text-nowrap", doc.id === e.id ? "text-muted-foreground" : "underline"]}
				>
					{e.data.title}
				</a>
			))}
		</div>

		<div class="markdown">
			<Content/>
		</div>
	</div>
</Layout>