---
import { getCollection } from "astro:content";
import { AppIcon } from "../app-icon";
import { categoryIds } from "@/lib/categories";

const randomCategory = categoryIds.sort(() => Math.random() - 0.5)[0];
const apps = await getCollection("apps", (entry) => entry.data.categories.includes(randomCategory));
const randomApps = apps
	.sort(() => Math.random() - 0.5)
	.slice(0, 5);
---


<ul class="list">
	{randomApps.map((a, idx) => (
		<li class="list-row">
			<div><AppIcon appId={a.id}/></div>
			<div>
				<div>{a.data.name}</div>
				<div class="text-sm opaciy-50">{a.data.author}</div>
			</div>
		</li>
	))}
</ul>
