---
import { getCollection } from "astro:content";
import { AppCardCarousel } from "./app-card-carousel";

const apps = await getCollection("apps", (entry) => !!entry.data.cover);
const randomApps = apps
	.sort(() => Math.random() - 0.5)
	.slice(0, 10);
---

<div class="w-full">
	<AppCardCarousel 
		apps={randomApps}
		client:load
	/>
</div>
