---
import Random5Apps from "@/components/app-sections/random-5-apps.astro";
import RandomCategoryApps from "@/components/app-sections/random-category-apps.astro";
import RandomCoverApps from "@/components/app-sections/random-cover-apps.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
	title="Home"
	class="container"
	back
>
	<h1 class="text-5xl md:text-7xl font-bold mb-4">
		Home
	</h1>

	<div>
		<div
			class="flex flex-row gap-2 overflow-x-scroll"
		>
			<RandomCoverApps server:defer/>
		</div>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
		<div class="flex flex-col gap-2">
			<h2 class="text-2xl font-bold">Random pick</h2>
			<Random5Apps server:defer/>
		</div>

		<div class="flex flex-col gap-2">
			<h2 class="text-2xl font-bold">Random category</h2>
			<RandomCategoryApps server:defer/>
		</div>
	</div>
</Layout>
