---
import Random5Apps from "@/components/app-sections/random-5-apps.astro";
import RandomCategoryApps from "@/components/app-sections/random-category-apps.astro";
import RandomCoverApps from "@/components/app-sections/random-cover-apps.astro";
import { AppCardCarouselSkeleton } from "@/components/skeletons/app-card-carousel-skeleton";
import { AppListItemSkeleton } from "@/components/skeletons/app-list-item-skeleton";
import { Skeleton } from "@/components/ui/skeleton";
import Layout from "@/layouts/layout.astro";
---

<Layout
	title="Home"
	class="container"
>
	<h1 class="text-5xl md:text-7xl font-bold mb-4">
		Home
	</h1>

	<RandomCoverApps server:defer>
		<div slot="fallback">
			<AppCardCarouselSkeleton/>
		</div>
	</RandomCoverApps>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
		<div class="flex flex-col gap-2">
			<h2 class="text-2xl font-bold">Random pick</h2>
			<Random5Apps server:defer>
				<div slot="fallback" class="flex flex-col gap-2">
					{Array(5).fill(null).map((_, idx) => (
						<AppListItemSkeleton
							separator={idx !== 4}
						/>
					))}
				</div>
			</Random5Apps>
		</div>

		<div class="flex flex-col gap-2">
			<h2 class="text-2xl font-bold">Random category</h2>
			<RandomCategoryApps server:defer>
				<div slot="fallback" class="flex flex-col gap-2">
					{Array(5).fill(null).map((_, idx) => (
						<AppListItemSkeleton
							separator={idx !== 4}
						/>
					))}
				</div>
			</RandomCategoryApps>
		</div>
	</div>
</Layout>
