---
import { Card, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
import Layout from "@/layouts/layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { ArrowBigDownDashIcon, BookMarkedIcon, BookOpenIcon, CheckIcon, CloudIcon, HeartIcon } from "lucide-react";
import { AppIcon } from "@/components/app-icon";
import { FeaturesList } from "@/components/features";
import BrandIcon from "@/components/ui/brand-icon";

// Get 5 random items from the apps collection
const apps = await getCollection("apps");
const randomApps = apps
	.sort(() => 0.8 - Math.random())
	.slice(0, 8);
---

<Layout class="container">
	<div class="h-svh flex flex-col justify-center relative">
		<h1 class="text-5xl md:text-7xl font-bold">
			Access your apps <span class="bg-clip-text text-transparent bg-gradient-to-tr bg-primary to-secondary">instantly</span>
		</h1>

		<p class="text-center text-muted-foreground absolute animate-bounce bottom-0 left-1/2 -translate-x-1/2">
			Scroll down to find out more
			<ArrowBigDownDashIcon className="mx-auto"/>
		</p>
	</div>

	<Card>
		<CardHeader>
			<CardTitle className="text-5xl">
				No downloads.<br />
				No installs.<br />
				Just <span class="bg-clip-text text-transparent bg-gradient-to-tr bg-primary to-secondary">open it</span>.
				<div class="flex justify-between gap-2 mt-4">
					{randomApps.map((app) => (
						<AppIcon
							app={app}
							width={64}
							height={64}
						/>
					))}
				</div>
			</CardTitle>
		</CardHeader>
	</Card>

	<div class="mt-32">
		<p class="text-center font-bold text-2xl">
			What's in store?
		</p>

		<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
			<Card>
				<CardHeader>
					<CardTitle>
						<CloudIcon className="inline w-4 h-4"/>
						No downloads
					</CardTitle>
					<CardDescription>
						No need to download anything. Paquet is a web app that runs in your browser. All apps you find inside work the same way Paquet does.
					</CardDescription>
				</CardHeader>
			</Card>
			<Card>
				<CardHeader>
					<CardTitle>
						<CheckIcon className="inline w-4 h-4"/>
						Verified
					</CardTitle>
					<CardDescription>
						Every app on Paquet is verified manually. We make sure that the app is safe and works as intended. We also make sure that the app is accessible to everyone.
					</CardDescription>
				</CardHeader>
			</Card>
			<Card>
				<CardHeader>
					<CardTitle>
						<HeartIcon className="inline w-4 h-4"/>
						Loved by the community
					</CardTitle>
					<CardDescription>
						Only apps that are loved by the community are featured on Paquet. We make sure that you get the best apps.
					</CardDescription>
				</CardHeader>
			</Card>
		</div>
	</div>

	<div class="mt-32">
		<h2 class="text-5xl font-bold mb-4">
			See if it's <span class="bg-clip-text text-transparent bg-gradient-to-tr bg-primary to-secondary">for you</span> before you even open it.
		</h2>
		<FeaturesList
			features={["openSource", "desktop", "mobile"]}
		/>
	</div>

	<div class="mt-32">
		<h2 class="text-5xl font-bold">
			Close to the community
		</h2>
		<div
			class="flex flex-row flex-wrap justify-center items-center gap-4"
		>
			<a 
				class="flex flex-col text-center justify-center items-center"
				href="https://github.com/m4rocks/paquet"
				target="_blank"
			>
				<BrandIcon
					icon="github"
					width={48}
					height={48}
				/>
				<p class="mt-2">GitHub</p>
				<p class="text-muted-foreground">m4rocks/paquet</p>
			</a>
			<a 
				class="flex flex-col text-center justify-center items-center"
				href="https://github.com/m4rocks/paquet/blob/main/CONTRIBUTING.md"
				target="_blank"
			>
				<BookMarkedIcon
					width={48}
					height={48}
				/>
				<p class="mt-2">Contribution Guide</p>
				<p class="text-muted-foreground">Learn how to contribute to Paquet</p>
			</a>
			<a 
				class="flex flex-col text-center justify-center items-center"
				href="/docs"
			>
				<BookOpenIcon
					width={48}
					height={48}
				/>
				<p class="mt-2">Documentation</p>
				<p class="text-muted-foreground">Learn how to use Paquet</p>
			</a>
		</div>
	</div>
</Layout>
