---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/layout.astro";
---

<Layout>
	<Button>
		Install
	</Button>

	<Button variant="secondary">
		Install
	</Button>

	<Button variant="destructive">
		Install
	</Button>

	<Button variant="outline">
		Install
	</Button>
</Layout>
