---
import { Header } from "@/components/header";
import Layout from "@/layouts/layout.astro";
---

<Layout title="Offline" class="container space-y-4">
	<Header>
		You are offline
	</Header>
	<p>
		It seems like you are offline. Unfortunately,
		Paquet cannot fetch the latest data for you.
	</p>
	<p>
		Find an online connection and this page will refresh
		automatically.
	</p>
</Layout>