---
interface Props {
	commitHash: string
}
---

<footer class="my-8 text-center container">
	<a
		href="https://m4.rocks"
		target="_blank"
		class="hover:underline text-muted-foreground text-center"
	>
		Made with <span role="img">❤</span> by @m4rocks
	</a>
	<p class="text-sm text-muted-foreground">
		Apps presented on Paquet are not owned by the maker of Paquet
	</p>
	<div class="flex flex-row gap-2 mt-4 justify-center">
		<a
			href="/privacy"
			class="underline text-muted-foreground"
		>
			Privacy Policy
		</a>&middot;
		<a
			href="/terms-and-conditions"
			class="underline text-muted-foreground"
		>
			Terms and Conditions
		</a>
	</div>

	<div class="flex flex-row gap-2 mt-4 justify-center">
		<a
			href="/docs"
			class="underline text-muted-foreground"
		>
			Docs
		</a>
	</div>
</footer>