---
import "@fontsource/poppins";
import "@/styles/global.css";
import HeadTags from "@/components/head-tags.astro";
import Footer from "@/components/footer.astro";

interface Props {
	class?: string;
}

const commitHash = import.meta.env.DEV ? "dev" : import.meta.env.CF_PAGES_COMMIT_SHA ? import.meta.env.CF_PAGES_COMMIT_SHA.slice(0, 7) : "unknown"
---


<!doctype html>
<html lang="en">
	<head>
		<HeadTags/>
		<meta
			name="theme-color"
			media="(prefers-color-scheme: dark)"
			content="#121212"
		/>
		<meta
			name="theme-color"
			media="(prefers-color-scheme: light)"
			content="#dddddd"
		/>
		<title>Paquet</title>
	</head>
	<body>
		<main class:list={[Astro.props.class]}>
			<slot />
		</main>
		<Footer
			{commitHash}
		/>
	</body>
</html>
